@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Permanent+Marker&display=swap');


.list {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
    justify-content: center;
}

.single__card {
    font-family: 'Permanent Marker', cursive;
    margin: .5rem 0;
}

.card {
    border-radius: 1rem !important;
    height: 28rem;
}

.card-title {
    color: black !important;
    font-family: 'League Gothic', sans-serif;
    font-size: 25px;
}

.card-body {
    text-align: center;
}

.card-body span {
    font-family: 'League Gothic', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.single__card:hover {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.cards h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.cards h1 span {
    color: #FCA705;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body span {
    color: #FCA705;
}

.prod__name {
    max-width: 200px;
    height: 30px;
    overflow: hidden;
    text-align: center;
}

.prod__name:hover {
    cursor: pointer;
    max-width: none;
    overflow: visible;
}

.card__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.card__buttons .btn {
    border: 1px solid;
    font-size: 22px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    background-color: #000;
}

.card__buttons .btn .fa-cart-arrow-down:hover {
    transform: rotate(20deg);
    transition: all .3s ease;
}

.card__buttons .btn .fa-magnifying-glass:hover {
    transform: rotate(25deg);
    transition: all .3s ease;
}

.card__details {
    display: flex;
    justify-content: space-between;
}

.card-img-box {
    text-align: center;
    height: 60%;
}

.card-img-top {
    height: 100% !important;
    object-fit: contain;
}
