*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel {
    text-align: center;
}

.carousel .carousel-slider {
    height: 100% !important; 
}

.carousel .slider-wrapper {
    width: 70% !important; 
}

/* .carousel .thumb {
    width: 5%;
    height: 50px;
} */

.carousel .thumbs-wrapper {
    display: none !important;
}



.carousel .control-dots .dot {
    border-radius: 15% !important;
    width: 35px !important;
    height: 4px !important;
}

.carousel .control-prev.control-arrow {
    left: 17% !important;
}

.carousel .control-next.control-arrow {
    right: 17% !important;
}

.carousel .carousel-status {
    position: relative !important;
    display: none !important;
}